.ClientLinks {
  .ClientLinks {
    background-color: #e9ecf1 !important;
  }

  .forTitle {
    background-color: #e9ecf1 !important;
    display: flex;
    padding: 16px;
    padding-bottom: 0px;

    button {
      margin-left: auto;
      width: auto !important;
    }
  }
}
