.agentView {
  padding-top: 3rem !important;
  background-color: #e9ecf1 !important;
  
  .carousel {
    height: 20rem !important;
    border-radius: 18px !important;
  }

  .border{
    border-top: 1px solid #c1c1c1;
    width: 98%;
    margin: auto;
  }
  .title{
    .titleName {
      padding-top: 10px;
    }
  }
}
